<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="/images/Weather.png" />
        
        <title>404 Error</title>

    </head>
    <body>

        <div class="main-content">

            {{>Header}}
            <p>{{ErrorMessage}}</p>

        </div>

        {{>Footer}}

    </body>

</html>